<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="needle_holder" params="parent *origin">

        <!-- Add trolley base link -->
        <link name="needle_holder_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://demo_staubli_med_2025/meshes/visual/needle_holder.dae"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://demo_staubli_med_2025/meshes/collision/needle_holder.stl"/>
                </geometry>
            </collision>
        </link>

        <joint name="needle_holder_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="needle_holder_link" />
        </joint>

        <xacro:property name="needle_length" value="0.06"/>

        <link name="needle_link">
            <visual>
                <origin xyz="0 0 ${-needle_length/2}" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="0.0025" length="${needle_length}"/>
                </geometry>
                <material name="grey">
                    <color rgba="0.5 0.5 0.5 1.0"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 ${-needle_length/2}" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="0.005" length="${needle_length}"/>
                </geometry>
            </collision>
        </link>

        <link name="needle_tip_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <sphere radius="0.004"/>
                </geometry>
                <material name="red">
                    <color rgba="1.0 0.0 0.0 1.0"/>
                </material>
            </visual>
        </link>



        <joint name="needle_visual_joint" type="fixed">
            <!-- % FT sensor : x="59.36" y="0.83" z="157.165" rx="2.25775e-14" ry="65" rz="90" -->
            <origin xyz="0 ${-needle_length} 0.136" rpy="${90*pi/180} 0 0"/>
            <parent link="needle_holder_link" />
            <child link="needle_link" />
        </joint>

        <joint name="needle_tip_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="needle_link" />
            <child link="needle_tip_link" />
        </joint>

    </xacro:macro>
</robot>
