<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="robot_model" default="tx2_60l_med"/>
    <xacro:arg name="name" default="staubli"/>
    <xacro:arg name="robot_prefix" default=""/>

    <!-- Set the robot name using the property -->
    <xacro:attribute name="name" value="$(arg name)" />

    <!-- Robot config file -->
    <xacro:property name="config_dir" value="$(find staubli_robot_description)/config/$(arg robot_model)"/>
    <xacro:arg name="robot_model_parameters_file" default="${config_dir}/robot_model.yaml"/>

    <!-- Import SRDF macro -->
    <xacro:include filename="$(find staubli_moveit_config)/srdf/staubli_macro.srdf.xacro"/>

    <xacro:include filename="$(find staubli_robot_description)/urdf/include/staubli_helpers.xacro" />
    <xacro:load_robot_model_config robot_model_config_file="$(arg robot_model_parameters_file)"/>

    <xacro:staubli_srdf
        robot_model="$(arg robot_model)"
        robot_prefix="$(arg robot_prefix)"
        robot_model_parameters_file="$(arg robot_model_parameters_file)"
        arm_base_link="$(arg robot_prefix)${link_names[0]}"
        arm_tip_link="needle_tip_link"
    />

    <!-- Add collision setup for trolley and needle -->
    <disable_collisions link1="trolley_base_link" link2="$(arg robot_prefix)${link_names[0]}" reason="Adjacent"/>
    <disable_collisions link1="$(arg robot_prefix)${link_names[6]}" link2="needle_holder_link" reason="Adjacent"/>
    <disable_collisions link1="needle_holder_link" link2="needle_link" reason="Adjacent"/>
</robot>
